<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About You</title>
	<style>
	header {
		background: url('<%= backpacker.background %>');
		background-size: cover;
		background-position: center;
		text-align: center;
		opacity: 0.8;
	}
	h1 {
		padding-top: 30px;
	}
	img.round {
	border: 1px solid white;
	border-radius: 70px;
	}
	body {
		text-align: center;
	}
	</style>
</head>
<header>
	<h1><%= backpacker.name %></h1>
	<img src="<%= backpacker.image %>" width="120" height="120" class="round"/>
</header>
<body>
	<p>
		<%= backpacker.info %>
	</p>
	<br>
	<br>
	<br>
	<a href="/backpacker/<%= backpacker.id %>/posts"><%= backpacker.name%>'s Blog Posts</a>
	<br>
	<br>
	<form action="/backpacker/<%= backpacker.id %>/posts/new" method="GET">
	<label><%= backpacker.name%>? Enter your password to make a post!</label><br>
	<input type="password" name="password_check" placeholder="case-sensitive"> <button>Create a post!</button>
	</form>
	<br>
	<br>
	<form action="/backpacker/<%= backpacker.id %>/edit" method="GET">
	<label><%= backpacker.name%>? Enter your password to edit your profile!</label><br>
	<input type="password" name="password_check" placeholder="case-sensitive"> <button>Edit!</button>
	</form>
	<br>
	<br>
	<form method="POST" action="/backpacker/<%= backpacker.id %>?_method=DELETE">
		<input type="password" name="password_check" placeholder="your password">
		<button>No longer trotting? Remove here</button>
	</form>
	<br>
	<br>
	<a href="/backpackers">Back to list of globetrotters</a>
</body>
</html>


