<!DOCTYPE html>
<html lang="en">
<head>
	<style>
	header {
		background: url('<%= backpacker.background %>');
		background-size: cover;
		background-position: center;
		text-align: center;
		opacity: 0.8;
	}
	img.round {
	border: 1px solid white;
	border-radius: 70px;
	}
	body {
		text-align: center;
	}
	h1 {
		padding-top: 30px;
	}
	img {
		position: center;
	}
	li {
		display: block;
	}
	</style>
</head>
<header>
	<h1><%= backpacker.name %></h1>
	<img src="<%= backpacker.image %>" width="120" height="120" class="round"/>
</header>
<body>
	<h3><%= post.p_title %></h3>
	<p>
	<img src="<%= post.p_image %>" width="auto" height="300px"/><br>
	<%= post.p_body %>
	<br><br>
	<ul>
	<% for (var i = 0; i < comments.length; i++) { %>
		<li>
		On <%= comments[i].created_at %> <%= comments[i].c_name %> said: <%= comments[i].c_body %>
		</li><br>
		<form method="POST" action="/backpacker/<%= backpacker.id %>/post/<%= post.p_id %>/comment/<%= comments[i].c_id %>?_method=DELETE">
		<button>Delete this comment</button>
	</form>
	<% } %>
	</ul>
	<br><br>
	<label>Leave a nice comment:</label><br>
	<form action="/backpacker/<%= backpacker.id %>/post/<%= post.p_id %>/comments" method="POST">
	<input type="text" name="c_name" placeholder="your name" required><br>
	<br>
	<textarea name="c_body" rows=3 cols=50 required></textarea> 
	<br>
	<button>Comment</button>
	</form>
	</p>
	<br>
	<br>
	<a href="/backpacker/<%= backpacker.id %>/posts">Back to <%= backpacker.name %>'s Posts</a>
	<br>
	<br>
	<form action="/backpacker/<%= backpacker.id %>/edit" method="GET">
	<label><%= backpacker.name%>? Enter your password to edit your profile!</label><br>
	<input type="password" name="password_check" placeholder="case-sensitive"> <button>Edit!</button>
	</form>
	<br>
	<br>
	<form method="POST" action="/backpacker/<%= backpacker.id %>/post/<%= post.p_id %>?_method=DELETE">
	<input type="password" name="password_check" placeholder="your password">
		<button>Delete this post</button>
	</form>
	<br>
	<br>
	<a href="/backpackers">Back to list of globetrotters</a>
</body>
</html>




